{% load static %}
<header class="ht-header">
    <div class="container">
        <nav class="navbar navbar-default navbar-custom">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header logo">
                <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <div id="nav-icon1">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <a href="{% url 'home' %}"><img class="logo" src="{% static 'images/logo.png'%}" alt="" width="119"
                                                height="58"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav flex-child-menu menu-left">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" href="{% url 'home' %}">
                            Home
                        </a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" href="{% url 'movie' %}">
                            movies
                        </a>
                    </li>
                    <li class="dropdown first">
                        <a class="btn btn-default dropdown-toggle lv1" href="{% url 'Series' %}">
                            web-series
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <!-- top search form -->
        <div class="top-search">
            <select hidden="hidden">
                {% for i in cat %}
                <option value="i.id" >{{i.name}}</option>
                {% endfor %}
            </select>
            <form action="{% url 'search' %}" method="get">
                <input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for" name="query" id="query" style="margin-right: 725px;">
            </form>
        </div>
    </div>
</header>