{% extends 'base.html' %}
{% block content %}
{% load static %}
<!-- BEGIN | Header -->
{% include 'header.html' %}
<!-- END | Header -->

<div class="hero sr-single-hero sr-single">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img src="{{serie.poster.url}}" alt="" style="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="{{serie.watchtralier}}" class="item item-1 redbtn"> <i class="ion-play"></i>
                                Watch Trailer</a>
                            </div>
                            <div><a href="{{serie.watchtralier}}"
                                    class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a>
                            </div>
                        </div>
                        <div class="btn-transform transform-vertical">
                            <div><a href="{{serie.watchtralier}}" class="item item-1 yellowbtn"> <i
                                    class="fa fa-download"></i> Download</a>
                            </div>
                            <div><a href="{{serie.watchtralier}}" class="item item-2 yellowbtn"><i
                                    class="fa fa-download"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">{{serie.name}} <span> {{Releaseyear}}</span></h1>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star">IMDB RATING</i>
                            <p><span>{{serie.IMDB_rating}}</span> /10<br>
                            </p>
                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv tabs-series">
                                <li class="active"><a href="#overview">Overview</a></li>
                                <li><a href="#media"> Media</a></li>
                                <li><a href="#season"> Season</a></li>

                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p></p>
                                            <div class="title-hd-sm">
                                                <h4>Current Season</h4>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">
                                                <div class="cast-it">
                                                    <div class="cast-left series-it">
                                                        <img src="{{serie.poster.url}}" alt="" style=" width: 20%;">
                                                        <div>
                                                            <a href="#">Season {{serie.current_season}}</a>
                                                            <p>{{serie.episode}} Episodes</p>
                                                            <p>{{serie.detail}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="title-hd-sm">
                                                <h4>Download link</h4>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">
                                                <div class="cast-it">
                                                    {% for i4 in serie.episode_series_set.all %}
                                                    <div class="cast-left">
                                                        <a href="{{i4.link}}">{{i4.title}}</a>
                                                    </div>
                                                    <p>... ({{i4.size}})</p>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="media" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Photos of</h3>
                                                <h2>{{serie.name}}</h2>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Photos <span> ({{data2}})</span></h4>
                                        </div>
                                        <div class="mvsingle-item">
                                            {% for i in serie.media_set.all %}
                                            <a class="img-lightbox" data-fancybox-group="gallery"
                                               href="{{i.photo}}"><img src="{{i.photo}}"
                                                                       alt="" style=" width: 20%;"></a>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <div id="season" class="tab">
                                    <div class="row">
                                        <div class="mvcast-item">

                                            <div class="cast-it">
                                                {% for i2 in serie.All_season_set.all%}

                                                <div class="cast-left series-it">

                                                    <img src="{{i2.poster}}" alt="" style=" width: 20%;">
                                                    <div>
                                                        <a href="{{i2.link}}">Season {{i2.All_season}}</a>
                                                        <p>{{i2.episode}} Episodes</p>
                                                        <p>{{i2.detail}}</p>
                                                    </div>

                                                </div>
                                                {% endfor %}
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer section-->
{% include 'footer.html' %}
<!-- end of footer section-->
{% endblock %}